.cta-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--cta-color); // Background color
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 11rem;

  &:active {
    transform: scale(0.97); // Slight shrink effect on click
  }

  a {
    color: var(--background-color);
  }
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4.4rem);
}
h2 {
  font-size: clamp(1.8rem, 3.5vw, 2.5rem);
}
p {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.svg_icon {
  height: clamp(2rem, 3vw, 2.5rem);
}
