.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 9rem 0.5rem 9rem;
  padding: var(--global-padding-left-right);
  padding-top: 1.3rem;
  padding-bottom: .5rem;
  @include breakpoint-down(medium) {
    // flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem 2rem 2rem;
  }
  // background: #eeecde;


  .navbar {
    .nav-links {
      list-style: none;
      display: flex;
      gap: 2.5rem;
      margin-top: 6px;

      a {
        text-decoration: none;
        position: relative;
        transition: color 0.25s;
        color: var(--primary-color);
        font-size: 0px;
        &:hover {
          color: var(--cta-color);
        }

        svg {
          width: auto;
          height: 1.8rem;
        }
      }
    }
  }
}
