.hero {
  display: flex;
  justify-content: space-between;
  height: 100vh; // Full-screen height
  padding: 4.5rem;

  @include breakpoint-down(medium) {
    flex-direction: column-reverse;
    padding: 0;
    gap: 2rem;
  }

  // background: #eeecde;
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 4.5rem;
    padding-right: 0; // border: 2px solid red;
    gap: 3rem;

    @include breakpoint-down(medium) {
      padding: 0 2rem;
      text-align: center;
      align-items: center;
      gap: 2.5rem;
    }

    h1 {
      // font-size: 4.4rem; // Larger font size for full-screen layout
      //   color: white;
      line-height: 1.1;

      @include breakpoint-down(medium) {
        // font-size: 2.2rem; // Adjust font size for smaller screens
      }

      em {
        font-style: italic;
        text-decoration: underline wavy var(--cta-color);
        text-underline-offset: var(--underline-offset);
      }
    }

    p {
      // font-size: 1.2rem; // Slightly larger font for better readability
      @include breakpoint-down(medium) {
        // font-size: 1rem; // Adjust font size for smaller screens
      }
      //   color: white;
      // width: 27rem;
    }

    .cta-button {
      margin-top: 3rem;
      @include breakpoint-down(medium) {
        margin-top: 0;
      }
    }
  }
}

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); // Semi-transparent background
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .popup-content {
    background: var(--background-color);
    padding: 2rem;
    border-radius: var(--border-radius);
    text-align: center;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    h2 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: var(--heading-color);
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      color: var(--text-color);
    }

    .close-popup {
      padding: 0.8rem 1.5rem;
      font-size: 1rem;
      color: #fff;
      background: none;
      border: none;
      border-radius: var(--border-radius);
      text-decoration: underline;
      cursor: pointer;
      transition: background 0.3s ease;

      // &:hover {
      //   background: darken(var(--cta-color), 10%);
      // }
    }
  }
}
