.hero {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  height: 100vh; // Full-screen height
  padding: 4.5rem;

  @include breakpoint-down(medium) {
    flex-direction: column-reverse;
    height: auto;
    padding: 0;
    padding-top: 2rem;
    gap: 2rem;
  }

  // background: #eeecde;
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 60%;
      height: auto;
      // position: absolute;
      // top: 0;
      // z-index: -99;
    }
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 4.5rem;
    padding-right: 0; // border: 2px solid red;
    gap: 3rem;

    @include breakpoint-down(medium) {
      padding: 0 2rem;
      text-align: center;
      align-items: center;
      gap: 2.5rem;
    }

    h1 {
      // font-size: 4.4rem; // Larger font size for full-screen layout
      //   color: white;
      line-height: 1.1;

      @include breakpoint-down(medium) {
        // font-size: 2.2rem; // Adjust font size for smaller screens
      }

      em {
        font-style: italic;
        text-decoration: underline wavy var(--cta-color);
        text-underline-offset: var(--underline-offset);
      }
    }

    p {
      // font-size: 1.2rem; // Slightly larger font for better readability
      @include breakpoint-down(medium) {
        // font-size: 1rem; // Adjust font size for smaller screens
      }
      //   color: white;
      // width: 27rem;
    }

    .cta-button {
      margin-top: 3rem;
      @include breakpoint-down(medium) {
        margin-top: 0;
      }
    }
  }
}
