@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Niconne&display=swap");

:root {
  --primary-color: hsl(0, 0%, 100%);
  --cta-color: #32a9d5;
  --background-color: #141414;
  --logo-font: "Niconne", serif;
  --primary-font: "Montserrat", serif;
  --border-radius: 4px;
  --underline-offset: 12px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  --global-padding-left-right: 0 11rem 0 11rem;
}
